<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987832326557-bu2p58774phd4ctdgood0fs762g0tsgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987832326557-bu2p58774phd4ctdgood0fs762g0tsgp</string>
	<key>API_KEY</key>
	<string>AIzaSyDQKQk7VHX2vOrouqpAr75PPCcS-f2CjVo</string>
	<key>GCM_SENDER_ID</key>
	<string>987832326557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sho.tripApp</string>
	<key>PROJECT_ID</key>
	<string>trips-14d27</string>
	<key>STORAGE_BUCKET</key>
	<string>trips-14d27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987832326557:ios:643a094e8aacb3de6e7774</string>
</dict>
</plist>